* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(255, 255, 255);

}
.thulodabba {
    height:550px;
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(210, 210, 210, 0.43);
    border-radius: 20px;
    margin: 45px;
}
.sanodabba {
    height:400px;
    width: 260px;
    background: rgb(69, 66, 255);
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 100;
    display: block;
    
}
.sanodabba h1{
    margin: 17px 2px 3px 2px;
    color: rgb(255, 255, 255);
    font-size: 19px;
}
.sanodabba p{
    margin: 17px 2px 3px 2px;
    color: rgb(255, 255, 255);
    font-size: 15px;
    text-align: center;
}


.QR {
    margin: 15px;
    display: flex;
    justify-content: center;
    height: 230px;
    width: auto;
    background: rgb(255, 255, 255);
    border-radius: 20px;
}
img{
    margin: auto;
    height: 65%;
    justify-content: center;
    align-items: center;
}
.text{
    
}
/*<div class="text">
            <p> </b> .</p>
        </div>*/